body{
	background-image: url(../img/fon1.jpg)
}
.header {
	text-align: center;	
	text-decoration: none;
}
ul.hr {
    margin: 0; 
    padding: 4px; 
    text-decoration: none;

   }
   ul.hr li {
    display: inline; 
    text-decoration: none;
   }
 h1{
 	margin-left: 400px;
 }
 .page{
 	border-radius: 6px;
 	border: 1px solid #000; 
 	padding: 25px;
 	color: white;
 	background-color: grey;
 	opacity: 0.7;

 }
.content{
	border-radius: 6px;
	padding: 25px;
	border: 1px solid #000; 
	display: table-cell;
}
.adverties{
	border-radius: 6px;
	padding: 25px;
	border: 1px solid #000; 
	display: table-cell;
	text-decoration: none;
}
div{
	margin-right: 40px;
	margin-left: 40px;
}
.price{
	display: inline-block;
	border: 2px solid #000;
	color: #EE5959;
	margin-bottom: 5px;
    width: 300px;
    height: 250px;
    background-color: #59b9d1;
    border-radius: 6px;
}
.price-list{
	border-radius: 6px;
	text-align: center;
 	border: 1px solid #000; 
 	padding: 25px;
 	display: table-cell;
 	background-color: grey;
 	opacity: 0.7;
}
.price h1{
	margin-left: -20px;
	color: #ff0000;
	text-decoration: none;


}
h4{
	color: blue;
}
a {
	color: white;
}
h1{
	color: white;
}
h3{
	color: white;

}
h4{
	color: #0012f9;
}
h2{
	color: white;
}
form{
	padding-left: 25px;
	background-color: green;
	border: 4px solid #284c1d;
	opacity: 0.7;
	border-radius: 8px;
	text-align: left;
	width: 320px;
	padding-bottom: 25px;
}
.button{
	 color: #fff;
 background-color: #FA7805;
 border: none;
 border: 3px solid #FFF09C;
 border-radius: 3px;
 cursor: pointer;
 font-weight: 750;
 text-decoration: none;
}
.button:hover{
	cursor: pointer;
	background-color: #a86308;  
}
.forma{
 	color: #000000;
 background-color: #FDF58C;
 border: none;
 border: 1px solid #FDF58C;
 border-radius: 6px;
 font-weight: 750;
}
.class2{
	list-style-type: none;
}
.class3{
	text-decoration: none;
	margin-right: 15px; 
    border: 1px solid #000; 
    padding: 8px; 
    border-radius: 6px;
    background-color: grey;
    opacity: 0.8;
    width: 100px;
    font-size: 17px;
    font-weight: 750;
}
.class3:hover {
	transition: all 0.33s;
 background: #ede7dc;
 color: #8e6800;
 text-decoration: none;
}
.price:hover{
	cursor: pointer;
	background-color: #969696;
	border: 3px solid #db840a; 
    border-radius: 6px;
	transition: all 0.5s;
 	background: #fff;
 	   	transition: all 0.13s;
}
.price:hover dd{
	display: block;
    background: rgba(0,0,0,0.8);
    cursor: pointer;
    position: absolute; 
   	text-align: center;
   	left: 13.5%;
    top: 33.9%; 
   	height: 250px;
   	width: 300px;
   	border-radius: 2px;

}
dd{
    display: none;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Segoe UI';
    line-height: 300px;
    text-align: center;
    color: #fff;
}
.price:hover g{
	display: block;
    background: rgba(0,0,0,0.8);
    cursor: pointer;
    position: absolute; 
   	text-align: center;
   	left: 40.55%;
    top: 33.9%; 
   	height: 250px;
   	width: 300px;
   	border-radius: 2px;

}
g{
    display: none;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Segoe UI';
    line-height: 300px;
    text-align: center;
    color: #fff;
}
.price:hover op{
	display: block;
    background: rgba(0,0,0,0.8);
    cursor: pointer;
    position: absolute; 
   	text-align: center;
   	left: 65.05%;
    top: 33.9%; 
   	height: 250px;
   	width: 300px;
   	border-radius: 2px;
   	transition: all 0.33s;

}
op{
    display: none;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Segoe UI';
    line-height: 300px;
    text-align: center;
    color: #fff;
}
.price:hover od{
	display: block;
    background: rgba(0,0,0,0.8);
    cursor: pointer;
    position: absolute; 
   	text-align: center;
   	left: 16.05%;
    top: 66.8%; 
   	height: 250px;
   	width: 300px;
   	border-radius: 2px;
   	transition: all 0.33s;

}
od{
    display: none;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Segoe UI';
    line-height: 300px;
    text-align: center;
    color: #fff;
}
.price:hover oc{
	display: block;
    background: rgba(0,0,0,0.8);
    cursor: pointer;
    position: absolute; 
   	text-align: center;
   	left: 40.55%;
    top: 66.8%; 
   	height: 250px;
   	width: 300px;
   	border-radius: 2px;
   	transition: all 0.33s;

}
oc{
    display: none;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Segoe UI';
    line-height: 300px;
    text-align: center;
    color: #fff;
}
.price:hover og{
	display: block;
    background: rgba(0,0,0,0.8);
    cursor: pointer;
    position: absolute; 
   	text-align: center;
   	left: 65.05%;
    top: 66.8%; 
   	height: 250px;
   	width: 300px;
   	border-radius: 2px;
   	transition: all 0.33s;

}
og{
    display: none;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Segoe UI';
    line-height: 300px;
    text-align: center;
    color: #fff;
}
.logo{
	padding-bottom: 10px;
	display: table-cell;
}
.logo img{
	border: 3px solid #000; 
	border-radius: 50%;
	box-shadow: 0 -6px 0 #383535;
	display: table-cell;
}
.logo img:hover{
	border: 3px solid #fff; 
	border-radius: 50%;
	box-shadow: 0 -6px 0 #fff;
	opacity: 0.7;
	display: table-cell;

}





